In [32]:
import pandas as pd
import nltk
from collections import Counter
pip install textblob
python -m textblob.download_corpora

In [5]:
data = pd.read_csv('./Data/debate.csv',sep=',', low_memory=False, encoding='latin-1')

In [6]:
data.head()

   Line   Speaker                                               Text     Date
0     1      Holt  Good evening from Hofstra University in Hempst...  9/26/16
1     2  Audience                                         (APPLAUSE)  9/26/16
2     3   Clinton                               How are you, Donald?  9/26/16
3     4  Audience                                         (APPLAUSE)  9/26/16
4     5      Holt                                  Good luck to you.  9/26/16

In [12]:
data['Date'].unique()

array(['9/26/16', '10/4/16', '10/9/16', '10/19/2016'], dtype=object)

In [7]:
filter1 = (data['Date'] == '9/26/16')
data_1 = data[filter1]

In [13]:
data_1['Date'].unique()

array(['9/26/16'], dtype=object)

In [14]:
filter2 = (data['Date'] == '10/4/16')
data_2 = data[filter2]

In [15]:
data_2['Date'].unique()

array(['10/4/16'], dtype=object)

In [16]:
filter3 = (data['Date'] == '10/9/16')
data_3 = data[filter3]

In [17]:
data_3['Date'].unique()

array(['10/9/16'], dtype=object)

In [18]:
filter4 = (data['Date'] == '10/19/2016')
data_4 = data[filter4]

In [19]:
data_4['Date'].unique()

array(['10/19/2016'], dtype=object)

In [20]:
speaker = pd.DataFrame(columns=['Name'])

In [21]:
speaker['Name'] = data['Speaker'].unique()

In [22]:
speaker.head()

         Name
0        Holt
1    Audience
2     Clinton
3       Trump
4  CANDIDATES

In [24]:
nltk.download("punkt")

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [71]:
data['#words'] = data['Text'].str.split()

In [164]:
for i in range(0,len(data)):
      data.loc[i,'#ofwords'] = len(data['Text'][i].split())

In [167]:
data.tail(10)

,Line,Speaker,Text,Date,#words,#ofwords
1379,354,Clinton,... by making sure that we have sufficient res...,10/19/2016,"[..., by, making, sure, that, we, have, suffic...",126.0
1380,355,Trump,Your husband disagrees with you.,10/19/2016,"[Your, husband, disagrees, with, you.]",5.0
1381,356,Clinton,... the long-term health care drivers. We've g...,10/19/2016,"[..., the, long-term, health, care, drivers., ...",44.0
1382,357,Wallace,"This is -- this is the final time, probably to...",10/19/2016,"[This, is, --, this, is, the, final, time,, pr...",118.0
1383,358,Clinton,"Well, I would like to say to everyone watching...",10/19/2016,"[Well,, I, would, like, to, say, to, everyone,...",173.0
1384,359,Wallace,"Secretary Clinton, thank you. Mr. Trump?",10/19/2016,"[Secretary, Clinton,, thank, you., Mr., Trump?]",6.0
1385,360,Trump,She's raising the money from the people she wa...,10/19/2016,"[She's, raising, the, money, from, the, people...",217.0
1386,361,Wallace,Thank you both.,10/19/2016,"[Thank, you, both.]",3.0
1387,362,Audience,(APPLAUSE),10/19/2016,[(APPLAUSE)],1.0
1388,363,Wallace,"Secretary Clinton -- hold on just a moment, fo...",10/19/2016,"[Secretary, Clinton, --, hold, on, just, a, mo...",111.0

In [188]:
data[data['Speaker']=='Audience']

,Line,Speaker,Text,Date,#words,#ofwords,ApplauseCounter,LaughterCounter
1,2,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
3,4,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
5,6,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
108,109,Audience,(LAUGHTER),9/26/16,[(LAUGHTER)],1.0,NaN,0.0
133,134,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
149,150,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
201,202,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
217,218,Audience,(LAUGHTER),9/26/16,[(LAUGHTER)],1.0,NaN,0.0
268,269,Audience,(LAUGHTER),9/26/16,[(LAUGHTER)],1.0,NaN,0.0
274,275,Audience,(LAUGHTER),9/26/16,[(LAUGHTER)],1.0,NaN,0.0
286,287,Audience,(LAUGHTER),9/26/16,[(LAUGHTER)],1.0,NaN,0.0
316,317,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
318,319,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
321,322,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
336,337,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
343,344,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
350,351,Audience,(APPLAUSE),9/26/16,[(APPLAUSE)],1.0,0.0,NaN
354,3,Audience,(APPLAUSE),10/4/16,[(APPLAUSE)],1.0,0.0,NaN
562,211,Audience,(LAUGHTER),10/4/16,[(LAUGHTER)],1.0,NaN,0.0
714,2,Audience,(APPLAUSE),10/9/16,[(APPLAUSE)],1.0,0.0,NaN
748,36,Audience,(APPLAUSE),10/9/16,[(APPLAUSE)],1.0,0.0,NaN
751,39,Audience,(APPLAUSE),10/9/16,[(APPLAUSE)],1.0,0.0,NaN
761,49,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
804,92,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
867,155,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
916,204,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
975,263,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
988,276,Audience,(LAUGHTER),10/9/16,[(LAUGHTER)],1.0,NaN,0.0
1019,307,Audience,(APPLAUSE),10/9/16,[(APPLAUSE)],1.0,0.0,NaN
1029,4,Audience,(APPLAUSE),10/19/2016,[(APPLAUSE)],1.0,0.0,NaN
1210,185,Audience,(LAUGHTER),10/19/2016,[(LAUGHTER)],1.0,NaN,0.0
1274,249,Audience,(LAUGHTER),10/19/2016,[(LAUGHTER)],1.0,NaN,0.0
1288,263,Audience,(LAUGHTER),10/19/2016,[(LAUGHTER)],1.0,NaN,0.0
1292,267,Audience,(APPLAUSE),10/19/2016,[(APPLAUSE)],1.0,0.0,NaN
1298,273,Audience,(APPLAUSE),10/19/2016,[(APPLAUSE)],1.0,0.0,NaN
1387,362,Audience,(APPLAUSE),10/19/2016,[(APPLAUSE)],1.0,0.0,NaN

In [169]:
data.isnull().any()

Line        False
Speaker     False
Text        False
Date        False
#words      False
#ofwords    False
dtype: bool

In [193]:
for i in range(0,len(data)):
    data.loc[i,'ApplauseCounter'] = 0
    data.loc[i,'LaughterCounter'] = 0
    if 'Audience' in data['Speaker'][i]:
        if '(APPLAUSE)' in data['Text'][i]:
            data.loc[i-1,'ApplauseCounter'] = 1
            data.loc[i,'ApplauseCounter'] = 0
        elif '(LAUGHTER)' in data['Text'][i]:
            data.loc[i-1,'LaughterCounter'] = 1
            data.loc[i,'LaughterCounter'] = 0

In [2]:
data[0:80]

NameError: name 'data' is not defined

In [199]:
data.isnull().any()

Line               False
Speaker            False
Text               False
Date               False
#words             False
#ofwords           False
ApplauseCounter    False
LaughterCounter    False
dtype: bool

In [200]:
ApplaudData = data[['Speaker','ApplauseCounter']].groupby('Speaker').sum()

In [204]:
ApplaudData

            ApplauseCounter
Speaker
Audience                0.0
CANDIDATES              0.0
Clinton                 6.0
Cooper                  0.0
Holt                    3.0
Kaine                   0.0
Pence                   0.0
QUESTION                1.0
Quijano                 1.0
Raddatz                 1.0
Trump                   7.0
Wallace                 2.0

In [208]:
HumourData = data[['Speaker','LaughterCounter']].groupby('Speaker').sum()

In [209]:
HumourData

            LaughterCounter
Speaker
Audience                0.0
CANDIDATES              0.0
Clinton                 5.0
Cooper                  0.0
Holt                    0.0
Kaine                   0.0
Pence                   1.0
QUESTION                0.0
Quijano                 0.0
Raddatz                 2.0
Trump                   7.0
Wallace                 0.0